<<<<<<< HEAD
*{
  font-family: 'Roboto', sans-serif;
}

.active {
  background-color: #F76902;
  color: #fff;
}

.inactive {
  color: #000;
}

body {
  padding: 0;
  margin: 0;
}
h1{
  text-shadow: 2px 2px 4px #000000;

}
nav#navigation {
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  background-color: #34495E;
  overflow-y: hidden;
  z-index: 2;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

ul.menu li {
  outline: none;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

ul.menu li a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

ul.menu li a:hover {
  background-color: #A2AAAD;
}

ul.menu li a:focus {
  outline: none;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 1em;
  font-size: .4em;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
#section_1 {
  background-color: #F76902;
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  border-style: solid;
  border-color: #34495E;
}

#section_2 {
  background-color: #F76902;
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  border-style: solid;
  border-color: #34495E;
}

#section_3 {
  background-color: #F76902;
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  border-style: solid;
  border-color: #34495E;
}

#section_4 {
  background-color: darkgrey;
  width: 100%;
  height: 100vh;
}

#section_5 {
  background-color: darkorange;
  width: 100%;
  height: 100vh;
}


#section_1_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  background-color: #F76902;
  text-align: center;
  
}
#section_2_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  background-color: #F76902;
  text-align: center;
  color: #fff;
}
#section_3_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  background-color: #F76902;
  text-align: center;
  color: #fff;

}
#section_4_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  background-color: #F76902;
  text-align: center;
  color: #fff;

}
.accordion_description{
  font-size: 1.3em;
}

#about{
  padding: .5em;;
  margin: 4em;
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  color: white;
}
#quote{
  padding: .5em;;
  margin: 4em;
  margin-left: 10em;
  margin-right: 10em;
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  color: white;
}
#siteTitle{
  font-weight: bold;
  font-size: 3em;
  margin: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  height:fit-content;
}
.sectionTitle{
  font-style: italic;
  color: white;
  margin-bottom: 2em;
  
}
#coopTableDiv{
  padding: .5em;
  margin: 4em;
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  color: #000;
}
#gradTableDiv{
  padding: .5em;
  margin: 4em;
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  color: #000;
}
#introduction{
  padding: .5em;;
  margin: 4em;
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
}
#introductionTitle{
  font-style: italic;
}
#degreeStats{
  display: flex;
  flex-direction: row;

}
.degreeStatsBox{
    margin: .5em;
    background-color: #A2AAAD;
    padding: .5em;
}
#people{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.faculty{
  background-color: #34495E;
  border-color: #000;
  border-style: solid;
  border-radius: 1em;
  width: 2em;
=======
.active {
  background-color: #F76902;
  color: #fff;
}

.inactive {
  color: #000;
}

body {
  padding: 0;
  margin: 0;
}

nav#navigation {
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  background-color: #34495E;
  overflow-y: hidden;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

ul.menu li {
  outline: none;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

ul.menu li a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

ul.menu li a:hover {
  background-color: #A2AAAD;
}

ul.menu li a:focus {
  outline: none;
}

#section_1 {
  background-color: #F76902;
  display: inline-block;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#section_2 {
  background-color: #F76902;
  display: inline-block;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#section_3 {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
}

#section_4 {
  background-color: darkgrey;
  width: 100%;
  height: 100vh;
}

#section_5 {
  background-color: darkorange;
  width: 100%;
  height: 100vh;
}


#section_1_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F76902;
  text-align: center;
  color: #fff;
}

#section_2_content {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F76902;
  text-align: center;
  color: #fff;
>>>>>>> bb5d08707d5dabc0b38185b533f9be3edeee95db
}